<link href="https://necolas.github.io/normalize.css/latest/normalize.css" rel="stylesheet"/>
<link href="/assets/scripts/zeynep/zeynep.min.css" rel="stylesheet"/>
<link href="/assets/css/zeynep/base.css" rel="stylesheet"/>
<link href="/assets/css/zeynep/left.css" rel="stylesheet"/>

<div class="navbar">
  <div style="top: 0; position: fixed; height: 50px; width: 100%;">
    <a href="https://www.instagram.com/mathematikos_sk/" target="_blank"><img src="../assets/images/homepage/Instagram_Glyph_Black.png" alt="Instagram" style="max-height:80%; max-width:100%; float: right; margin: 5px 6px;"></a>
	<!--<p style="text-align:center;"><a href="https://www.instagram.com/mathematikos_sk/" style="float: right; margin: 0 6px;">Visit Instagram</a></p>-->
  </div>
  <button type="button" class="btn-open first" aria-label="menu">
	<img src="../assets/images/homepage/menu.png" alt="menu">
  </button>
</div>

<div class="zeynep">
  <ul>
{%- for item in site.data.navigation %}
  {%- if item.url %}
	<li>
	  <a href="{{ item.url }}">{{ item.title }}</a>
	</li>
  {%- else %}
    <li class="has-submenu">
	  <a href="#" data-submenu="{{ item.id }}">{{ item.title }}</a>
	  <div id="{{ item.id }}" class="submenu">
		<div class="submenu-header">
		  <a href="#" data-submenu-close="{{ item.id }}">Menu</a>
		</div>
		<label>{{ item.title }}</label>
		<ul>
	{%- for entry in item.submenu %}
		  <li>
			<a href="{{ entry.url }}">{{ entry.page }}</a>
		  </li>
	{%- endfor %}
		</ul>
	  </div>
	</li>
  {%- endif %}
{%- endfor %}
  </ul>
</div>

<div class="zeynep-overlay"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/assets/scripts/zeynep/zeynep.min.js"></script>

<script>
  $(function() {
	// init zeynepjs side menu
	var zeynep = $('.zeynep').zeynep({
	  opened: function () {
		// log
		// console.log('the side menu opened')
	  },
	  closed: function () {
		// log
		// console.log('the side menu closed')
	  }
	})

	// dynamically bind 'closing' event
	zeynep.on('closing', function () {
	  // log
	  // console.log('this event is dynamically binded')
	})

	// handle zeynepjs overlay click
	$('.zeynep-overlay').on('click', function () {
	  zeynep.close()
	})

	// open zeynepjs side menu
	$('.btn-open').on('click', function () {
	  zeynep.open()
	})
  })
</script>