<div class="topnav" id="myTopnav">
  <a href="/index.html" class="active">Mathematikos</a>
  
  <div class="dropdown">
    <button class="dropbtn">Čísla</button>
    <div class="dropdown-content">
      <a href="/pages/howNumbersWereBorn.html">Ako vznikli čísla</a>
	  <!--a href="/pages/numbers.html">Číselné množiny</a-->
	  <a href="/pages/numberSystems.html">Číselné sústavy</a>
      <!--a href="#">Exponenciálna funkcia</a-->
    </div> <!--end of dropdown content-->
  </div> <!--end of dropdown-->
  
  <div class="dropdown">
    <button class="dropbtn">Algebra</button>
    <div class="dropdown-content">
      <a href="/pages/linearFunction.html">Lineárna funkcia</a>
      <!--a href="#">Exponenciálna funkcia</a-->
    </div> <!--end of dropdown content-->
  </div> <!--end of dropdown-->
  
  <div class="dropdown">
    <button class="dropbtn">Štatistika</button>
    <div class="dropdown-content">
      <a href="/pages/statistics.html">Štatistika</a>
    </div> <!--end of dropdown content-->
  </div> <!--end of dropdown-->
  
  <div class="dropdown">
    <button class="dropbtn">Analytická geometria</button>
    <div class="dropdown-content">
      <a href="/pages/aGeom_history.html">Vznik analytickej geometrie</a>
	  <a href="/pages/aGeom_usage.html">Využitie analytickej geometrie</a>
	  <a href="/pages/aGeom_space.html">Priestor</a>
	  <a href="/pages/aGeom_coorSys.html">Súradnicová sústava</a>
	  <a href="/pages/aGeom_vectors.html">Vektory</a>
	  <!--a href="/pages/aGeom_usageCG.html">Konkrétny príklad použitia AG</a-->
    </div> <!--end of dropdown content-->
  </div> <!--end of dropdown-->

  <!--a href="#contact">Geometria</a-->
  <a href="/pages/vocabulary.html">Slovník</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
	<i class="fa fa-bars"></i>
  </a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>