:root {
  --primary: #b0dfe5;
  --secondary: #404040;
  --tertiary: #588bae;
  --quaternary: #003152;
  --quinary: #f9f9f9;
  
  --primaryFont: Monospace;
}

h1 {
	text-align: center;
	font-family: var(--primaryFont);
	text-transform: uppercase;
	font-size: 400%;
}

h2 {
	text-align: center;
	font-family: var(--primaryFont);
	text-transform: uppercase;
	font-size: 300%;
}

.content{
	text-align: justify;
	font-family: Verdana;
	width: 70%;
	padding: 5%;
	padding-top: 0%;
	margin: 0 auto;
}

.content figure{
	text-align: center;
}

.content figure img{
	width: 80%;
}

.egyptNumbers{
	font-size: 500%;
}

.vocabLetter{
	text-align: center;
	font-size: 150%;
	font-family: var(--primaryFont);
	margin: 5%;
}


.vocabEntry b{
	float: left;
}

.vocabEntry div{
	
	margin-left: 20%;
}

@media screen and (max-width: 600px) {
.content{
	width: 100%;
}	
	
.content figure img{
	width: 100%;
}
}