/*.................................LESS VARIABLES.................................*/
:root {
  --primary: #b0dfe5; /*ligt cyan blue*/
  --secondary: #404040; /*grey*/
  --tertiary: #588bae; /*ligt sky blue*/
  --quaternary: #003152; /*semi dark blue*/
  --quinary: #f9f9f9; /*light grey*/

  --primaryFont: Monospace;
}

/*.................................GENERAL STYLES.................................*/

footer{
	text-align: center;
	font-family: var(--primaryFont);
	background-color: var(--quaternary);
	color: white;
	padding: 15%;
	font-size: 200%;
}

footer div{
	text-align: justify;
	overflow-wrap: break-word;
}

h1 {
	text-align: center;
	font-family: var(--primaryFont);
	text-transform: uppercase;
	font-size: 400%;
}

h2 {
	text-align: center;
	font-family: var(--primaryFont);
	text-transform: uppercase;
	font-size: 300%;
}

h3 {
	text-align: center;
	font-family: var(--primaryFont);
	text-transform: uppercase;
	font-size: 200%;
}

.audioPlayer{
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.content{
	text-align: justify;
	font-family: Verdana;
	width: 100%;
	padding: 5%;
	padding-top: 0%;
	margin: 0 auto;
	margin-top: 50px;
}

.content figure{
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.content figure img{
	width: 100%;
	height: auto;
}

.egyptNumbers{
	font-size: 500%;
}

.example /*text with math examples*/{
	color: #646d7a;
}

.extendingText, .extendingText h2{
	color: #707070;
}

.history_container {
	width: 100%;
	margin-bottom: 2%;
}

.history_intro {
	margin-bottom: 5%;
	text-align: center;
}

.history_intro img{
	width: 100%;
	height: auto;
}

.literature {
	overflow-wrap: break-word;
}

.more {
	display: none;
	text-align: justify;
	padding: 20px 20px;
	background-color: blue;
	border: 10px solid navy;
	/*padding="20%";*/
}

.more div{
	/*background-color: green;*/
}

.overflowedItem { /* items which are too wide and overflow, e.g. math expressions, tables */
	overflow-x: auto;
}

.page{
	width: 100%;
	height: 210%;
}

.statTable td,th{
	padding-right: 8px;
}

.vertical_line {
	border-left: 6px solid var(--primary);
	height: 100px;
	margin-left: 50%;
}

.vocabEntry b{
	float: none;
}

.vocabEntry div{
	margin-left: 10%;
}

.vocabLetter{
	text-align: center;
	font-size: 150%;
	font-family: var(--primaryFont);
	margin: 5%;
}

#boy {
	width: 100%;
	float: none;
	text-align: center;
	margin-top: 50px;
}

#boy img {
	width: 100%;
	height: auto;
	margin-top: -10%;
}

#opticalIllusionImages img{/*TODO REMOVE*/
	width: 100%;
	height: auto;
}

/*.................................LARGE PHONES STYLES.................................*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.content{
	width: 80%;
}

.history_intro img{
	width: 70%;
}

.vocabEntry div{
	margin-left: 20%;
}


#boy {
	margin-top: 0px;
}

#boy img {
	margin-top: 0%;
}

#opticalIllusionImages img{
	width: 100%;
	height: auto;
}
}

/*.................................TABLET STYLES.................................*/
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.content{
	width: 70%;
}

.history_intro img{
	width: 35%;
	height: auto;
}

.page{
	width: 100%;
	height: 100%;
}

.vocabEntry b{
	float: left;
}

.vocabEntry div{
	margin-left: 20%;
}

#boy {
	width: 50%;
	float: right;
	text-align: left;
}

#boy img {
	width: 60%;
	height: auto;
}

#opticalIllusionImages img{
	width: 100%;
	height: auto;
}
}

/*.................................DESKTOP STYLES.................................*/
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
.content{
	width: 70%;
}
	
.content figure img{
	width: 80%;
}

.history_intro img{
	width: 35%;
	height: auto;
}

.page{
	width: 100%;
	height: 100%;
}

.vocabEntry b{
	float: left;
}

.vocabEntry div{
	margin-left: 20%;
}


#boy {
	width: 50%;
	float: right;
	text-align: left;
}

#boy img {
	width: 60%;
	height: auto;
}

#opticalIllusionImages img{
	width: 100%;
	height: auto;
}
}
