:root {
  --primary: #b0dfe5;
  --secondary: #404040;
  --tertiary: #588bae;
  --quaternary: #003152;
  --quinary: #f9f9f9;
  
  --primaryFont: Monospace;
}

.page{
	width: 100%;
	height: 100%;
}

#contact_page{
text-align: center;
background: url(/assets/images/homepage/bgContact.png);
background-repeat: no-repeat;
background-size: 100% 100%;
}

#contact_page div{
color: white;
font-family: Monospace;
font-size: 250%;
padding-top: 20%;
}

#boy {
	width: 50%;
	float: right;
	text-align: left;
}

#boy img {
	width: 60%;
	height: auto;
	margin-top: -10%;
}


h1 {
	text-align: center;
	font-family: var(--primaryFont);
	text-transform: uppercase;
	font-size: 400%;
}

h2 {
	text-align: center;
	font-family: var(--primaryFont);
	text-transform: uppercase;
	font-size: 300%;
}

h3 {
	text-align: center;
	font-family: var(--primaryFont);
	text-transform: uppercase;
	font-size: 200%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.extendingText, .extendingText h2{
	color: #707070;
}



.literature {
	overflow-wrap: break-word;
}

.content{
	text-align: justify;
	font-family: Verdana;
	width: 70%;
	padding: 5%;
	padding-top: 0%;
	margin: 0 auto;
}

.content figure{
	text-align: center;
}

.content figure img{
	width: 80%;
	height: auto;
}

.egyptNumbers{
	font-size: 500%;
}

.vocabLetter{
	text-align: center;
	font-size: 150%;
	font-family: var(--primaryFont);
	margin: 5%;
}


.vocabEntry b{
	float: left;
}

.vocabEntry div{
	
	margin-left: 20%;
}

.statTable td,th{
	padding-right: 3%;
}

.history_container {
	width: 100%;
	margin-bottom: 2%;
	
}

.history_intro {
	margin-bottom: 5%;
	text-align: center;
}

.history_intro img{
	width: 35%;
	height: auto;
}

.vertical_line {
  border-left: 6px solid var(--primary);
  height: 100px;
  margin-left: 50%;
}


#opticalIllusionImages img{
	width: 50%;
	height: auto;
}

@media screen and (max-width: 600px) {
.content{
	width: 100%;
}	
	
.content figure img{
	width: 100%;
	height: auto;
}

.history_intro img{
	width: 100%
	height: auto;
}

#boy {
	width: 100%;
	float: none;
}

#boy img{
	width: 100%;
}

.page{
 height: 210%;
}

#contact_page{
height: 50%;
width: 100%;
font-size: 70%;
}

}