<!DOCTYPE html>
<html lang="sk">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<meta name="description" content="{{ page.description | default: page.title }}">-->
<meta name="keywords" content="{{ page.keywords }}">
<!--<meta name="author" content="{{ site.author }}">-->

<title>{{ page.title }}</title>
<link rel="icon" type="image/png" href="assets/images/favicon.png">

{%- assign styles = "nav_styles, styles" | split: ", " %}
{% for style in styles %}
<link rel="stylesheet" type="text/css" href="assets/css/{{ style }}.css">
{%- endfor %}

{% seo title=false %}

{%- if page.mathjax %}
<!-- include library for display math equations -->
<!--<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>-->
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3.2/es5/tex-chtml.js">
</script>
{% endif %}
</head>
<body>
{% include navigation.html %}

{{ content }}

<footer>

<div>
Ahoj náš milý čitateľ!<br /> <br />
Sme radi, že sa ti páči naša stránka a boli by sme radi, ak by sa ti páčila ešte viac.
Preto nám <b>prosím napíš</b>, čo sa ti na stránke páčilo/nepáčilo alebo čo by sme tam mali doplniť.
Môžeš tak urobiť prostredníctvom <b><a href="https://forms.gle/RkKkeaZHCgeWXSVUA" target="_blank" style="color: white">google formulára</a></b> alebo cez náš e-mail <b><a href="mailto:{{ site.email }}" style="color: white">{{ site.email }}</a></b>.<br /> <br />

Ďakujeme a prajeme ti pekný deň :)
</div>
</footer>
<script data-goatcounter="https://stats.mathematikos.sk/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
