<!DOCTYPE html>
<html lang="sk">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<meta name="description" content="{{ page.description | default: page.title }}">-->
<meta name="keywords" content="{{ page.keywords }}">
<!--<meta name="author" content="{{ site.author }}">-->

<title>{{ page.title }}</title>

{%- assign styles = "nav_styles, carusel_styles, styles" | split: ", " %}
{% for style in styles %}
<link rel="stylesheet" type="text/css" href="/assets/css/{{ style }}.css">
{%- endfor %}

{% seo title=false %}

<!-- include library for display math equations -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3.2/es5/tex-chtml.js">
</script>
</head>
<body>
{% include navigation.html %}

{{ content }}
</body>
</html>
